# General
nohup.out
.DS_Store
.vscode/

# Python-related
.ipynb_checkpoints/
__pycache__/

# Package specific
catboost_info/

# Project
input/
data/
results/**/submission.csv
results/**/outoffolds.csv
results/**/fold_*.csv
results/**/*.log
results/**/*.hdf5
results/**/*.json
results/*.csv
requirements/
track2/
kaggle/
logs/
input/*
run.sh
.ku_ddp_tmp*
*.job*
submission.csv